<a href="https://colab.research.google.com/github/sheffieldcl/NIHL-Training/blob/Python-Training/Week1b_sz_Basic_Python_Variable_Type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In Colab, the Python interpreter and the essential packages are installed.

We can first check the python version on the Colab environment by the following command: !python --version

Colab supports command line commands by simply adding an exclamation mark in the front.

In [ ]:
!python --version

Python 3.10.12

Let try more commands:

1.   To show the present working directory: ! pwd
2.   To list the file system: ! ls
3.   To use pip to install a bioinformatic processing package named 'biopython': ! pip install biopython

Note that you can add some white spaces between the exclamation mark and the command

In [ ]:
! pwd

/content

In [ ]:
!ls -h

sample_data

In [ ]:
! pip install biopython
# the document on Biopython can be found at: https://pypi.org/project/biopython/
# we will use Biopython to fetch data from the NCBI GenBank database and PubMed database later

Collecting biopython
  Downloading biopython-1.83-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 12.1 MB/s eta 0:00:00
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from biopython) (1.25.2)
Installing collected packages: biopython
Successfully installed biopython-1.83

# Basic command line interaction with Python

Python has a basic interactive function name "input" that pick the message from the command prompt as a string and stores it in the designated variable.

A variables is a container to store data value. In Python, a variable is created at the moment you first assign a value to it. In a extreme case, you can store the None value to a variable, which means the value inside is null or nothing.

The varaible name is case sensitive. For example, "Name" and "name" are two different variables.

A value is assigned to a variable by using the "=" operator, which means to assign the value on the right to the variable on the left.

We intriduce three basic types of Python: integer, float, string


*   Integer -- a whole number that can be positive, negative, or zero.
*   Float -- it is used to store positive and negative numbers with a decimal point
*   Boolean -- booleans represent one of two values: True or False. However, True also means 1, so True+1 is equal to 2; similarly, False also means 0, so False-1 is equal to -1.
*   String -- a string is traditionally a sequence of characters. Python does NOT the char type. A string is considered as a list of characters, but each character is still a string, NOT a char. String should be wrapped by single quotation marks or double quotation marks. In Python, single quotation marks and double quotation marks have the same syntatic meaning.

Unlike other languages such as C++ and Java, we do not need to declare type when a variable is initiated.

In [ ]:
num_1 = 1000
# assign 1000 to the variable num_1
num_2 = 200.0
input_text = input("enter some text:")
bool_1 = True
bool_2 = False
null_value = None

# to print out some to the command prompt, we can use the print() function as shown below.
# the text you want to print out should be wrapped by a pair of single / double quotation marks
print("You entered:", input_text)
print("The type of num_1 is: ", type(num_1))
print("The type of num_2 is: ", type(num_2))
print("The types of bool_1 and bool_2 are: ", type(bool_1), type(bool_2))
print("bool_1 + 1 = ", bool_1 + 1)
print("bool_2 - 1 = ", bool_2 - 1)
print("The type of null_value is: ", type(null_value))
print("convert boolean to integer: ", int(bool_1), int(bool_2))
# print("The value of null_value+1 is: ", null_value+1) # this will return an error

enter some text:hello nih
You entered: hello nih
The type of num_1 is:  <class 'int'>
The type of num_2 is:  <class 'float'>
The types of bool_1 and bool_2 are:  <class 'bool'> <class 'bool'>
bool_1 + 1 =  2
bool_2 - 1 =  -1
The type of null_value is:  <class 'NoneType'>
convert boolean to integer:  1 0

The above example shows that Python can automatically recognize the type of the variable when a value is assigned to it.

Note that if you want to assign an integer, like 1000, don't use the decimal point. 1000--> integer, 1000. --> float

In [ ]:
num_1 = 1000
num_2 = 1000.
print("The type of num_1 is: ", type(num_1))
print("The type of num_2 is: ", type(num_2))

The type of num_1 is:  <class 'int'>
The type of num_2 is:  <class 'float'>

In [ ]:
# numeric values can also be assigned by arithmetic operation
num_1 = 1000 + 2000. # the value is an integer
num_2 = 1000. + 2000.  # since 2000. is a float, the final value will be cast into float
print("The value of num_1 is: ", num_1)
print("The type of num_1 is: ", type(num_1))
print("The value of num_2 is: ", num_2)
print("The type of num_2 is: ", type(num_2))

The value of num_1 is:  3000.0
The type of num_1 is:  <class 'float'>
The value of num_2 is:  3000.0
The type of num_2 is:  <class 'float'>

Unlike other strict-type languages such as C++ and Java, the Python variable type can be changed by assigning different values

In [ ]:
# we can use the "variable_name: type" notation to specify the type of the variable
# but the variable type can still be converted by new assignment
num_1: int = 1000
print(type(num_1)) # as integer
num_1: float = 1000.
num_1 = 2000.
print(type(num_1)) # as float
num_1 = "1000"
print(type(num_1)) # as string

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
word_1 = "hello"
word_2 = "world"
concated = word_1 + " " + word_2 # strings can be concatenated by +
print(concated)
print("length of the string:",len(concated))
# a string can be sliced by indices, the python convention is to include the first index but to exclude the last index
# [0:5] means include the 1st index but skip the 6th index labeled by 5, so it turns out to slice from the 1st character through the 5th character
first_word = word_1[0:5]
print(first_word)
print(type(first_word))

# Python supports negative indices, -1 means the last character, -2 means the 2nd last character, ...
last_char = word_1[-1]
print(last_char)
print(type(last_char))
last_three_chars = word_1[-3:]
print(last_three_chars)
print(type(last_three_chars))

hello world
length of the string: 11
hello
<class 'str'>
o
<class 'str'>
llo
<class 'str'>

To add extra text to the string, we can use the '+=' operator, which means based on the exiting content, concatenate the new content on the right of the '+=' operator to the string

In [ ]:
text = 'Hello'
text += ' world!' # add the new content ' world!' to the original string
print(text)

Hello world!

**String format**

String format plays an important rule in python because it helps combine multiple results into a single readable text. We introduce two string format methods: str.format() and f-strings.


*   The format() method formats the specified values and insert them inside the string's placeholder. The placeholder is defined using curly brackets: { }. The format() method finally returns the formatted string.
*   f-strings is introduced in Python 3.6. It provides a concise and intuitive way to embed expressions and variables directly into strings. A f-string is initiated by the character 'f' and followed by the content wrapped by single / double quotations. Any embeded variable is wrapped by the curly brackets { }, and the f-string will automatically parse the value.

In [ ]:
first_name = "John"
last_name = "Smith"
age = 30
job = "Research Scientist"
message1 = "Hello, my name is {} {} at the age of {}. I am a {}.".format(first_name, last_name, age, job)
print(message1)

# we can give more notations in the {} placehoders for details formats
# the values will be parsed in order, since the name order is {1} {0}, the output will be last_name then first_name
message2 = "Hello, my name is {1} {0} at the age of {2}. I am a {3}.".format(first_name, last_name, age, job)
print(message2)

# we can give more format information
# we want the first two string to be 10-charater (using white space to fill the missing character)
# we also want the percentage to be 2 decimals.
yes_votes = 42_572_654
no_votes = 43_132_495
percentage = yes_votes / (yes_votes + no_votes)
# ":-10," means the string holds 10-charater in space, and it uses comma "," as seperator
message3 = '{0:-10,} YES votes and {1:-10,} NO votes, approval rate: {2:3.2%}'.format(yes_votes, no_votes, percentage)
print(message3)

Hello, my name is John Smith at the age of 30. I am a Research Scientist.
Hello, my name is Smith John at the age of 30. I am a Research Scientist.
42,572,654 YES votes and 43,132,495 NO votes, approval rate: 49.67%

f-string is simpler than the .format() method. Its format is f'a string with some {value}' or f"a string with some {value}". Note that the single quotation mark is equivalent to the double quotation mark in Python, but in many programming languages like C, C++, Java, they are different. <p>

In [ ]:
first_name = "John"
last_name = "Smith"
age = 30
job = "Research Scientist"
message1 = f"Hello, my name is {first_name} {last_name} at the age of {age}. I am a {job}."
print(message1)

yes_votes = 42_572_654
no_votes = 43_132_495
percentage = yes_votes / (yes_votes + no_votes)
message3 = f'{yes_votes:-10,} YES votes and {no_votes:-10,} NO votes, approval rate: {percentage:3.3%}'
print(message3)

Hello, my name is John Smith at the age of 30. I am a Research Scientist.
42,572,654 YES votes and 43,132,495 NO votes, approval rate: 49.673%

# Unicode in Python
The ASCII codes to prepresent English language only has 128 code points, which is not enough for all human languages. To encode all the languages in the world, we introduce the Unicode to encode different characters in all languages. Unicode has 1,114,112 possible code points, that is $17\times2^{16}-1$, or 0 to $0 \times10FFFF$ (Heximal)

The first 128 code points of Unicode are just ASCII, which makes it backward compatible. Unicode itself is NOT encoding, it is the map for code points. There are multiple encodings under Unicode, such as UTF-8, UTF-16, UTF-32, and more.

Taking the advantage of Unicode, when we visit the webpages whose language is NOT English, like Japanese, Chinese, Russian, we can still see their letters because these pages declare they are using some encodings under Unicode (UTF-8 the most common) in their headers.

In Python 3.X, it offers two representations for text data: strings and bytes. The encoding / decoding process in Python means the process of moving between these two representations.

Python 3 defaults to Unicode and UTF-8. All strings are Unicode by default and can contain any Unicode character. Most Unicode is valid for identifiers but only English-like charaters are recommended. Some Unicode characters like the emojis are NOT acceptable by Python. The Regular expression module also defaults to Unicode, and the default string encoding str.encode() is UTF-8

In [ ]:
string_text = "hello" # single quotation mark and double quotation mark means the same in python
encoded_text = string_text.encode("utf-8")
print(encoded_text) # it still looks 'normal' because 'hello' are English
print(type(encoded_text))
decoded_text = encoded_text.decode("utf-8")
print(decoded_text)
print(type(decoded_text))

b'hello'
<class 'bytes'>
hello
<class 'str'>

In [ ]:
string_text = "café"
print(string_text)
encoded_text = string_text.encode("utf-8")
print(encoded_text) # the é cannot be encoded by ASCII because 'é' is not English, and UTF-8 uses heximal "\xc3\xa9" to encode 'é'
print(type(encoded_text))
decoded_text = encoded_text.decode("utf-8")
print(decoded_text)
print(type(decoded_text))

café
b'caf\xc3\xa9'
<class 'bytes'>
café
<class 'str'>

# Mutable and Immutable type in Python
The data types in Python are categorized into mutable and immutable data types. Mutable data type is those whose values can be changed, whereas immutable data type is one in which the values can't be changed.


*   Mutable Type: List, Dictionary
*   Immutable Type: integer, float, string, tuple

We use the id() function to get the memory address IDs where the values are stored. We also use the 'is' operator to check if the address ID is identical.

In [ ]:
integer_1 = 1000
integer_2 = integer_1 # the memory ID is identical
print(id(integer_1), id(integer_2))
print(integer_1 is integer_2)

integer_2 += 1000 # the integer value will be stored in a different address ID since string is immutable
# += means to add the value on the right to the original value
# it is a handy way for integer_2 = integer_2 + 1000
print(integer_2)
print(id(integer_1), id(integer_2)) # because basic types like integer, float, string is immutable, new value will be stored in different memory ID
print(integer_1 is integer_2)

138814339029072 138814339029072
True
2000
138814339029072 138814339026352
False

In [ ]:
float_1 = 1000.
float_2 = float_1
print(id(float_1), id(float_2))
print(float_1 is float_2)
float_2 *= 20. # the float value will be stored in a different address ID since string is immutable
print(float_2)
print(id(float_1), id(float_2))
print(float_1 is float_2)

134461699596848 134461699596848
True
20000.0
134461699596848 134461699601008
False

In [ ]:
string_text1 = "café"
string_text2 = string_text1
print(id(string_text1), id(string_text2))
print(string_text1 is string_text2)
string_text2 += "teria" # the string value will be stored in a different address ID since string is immutable
print(string_text2)
print(id(string_text1), id(string_text2))
print(string_text1 is string_text2)

138814338894464 138814338894464
True
caféteria
138814338894464 138813726869616
False

There are **four** built-in types in Python to store collections of data:

Tuple, List, Set, and Dictionary

Tuples are used to store multiple items in a single variable. A tuple an immutable type to store a collection which is ordered and unchangeable. Tuple is good for returnig multiple values from a function because the order of the indices are unchangeable.

In [ ]:
tuple_1 = (1,2,3)
tuple_2 = tuple_1
print(tuple_1, tuple_2)
print(id(tuple_1), id(tuple_2))
print(tuple_1 is tuple_2)
tuple_1 = (10,20,30)
print(tuple_1)
print(id(tuple_1), id(tuple_2))
print(tuple_1 is tuple_2)
first_element = tuple_1[0]
second_element = tuple_1[1]
print(first_element, second_element)

(1, 2, 3) (1, 2, 3)
138814339011072 138814339011072
True
(10, 20, 30)
138813728822848 138814339011072
False
10 20

**Use tuple to return multiple values from a function**

The immutable property of tuple makes it good for returning multiple values from a function. <p>
A function is a named section of a code that performs a specific task. A function typically takes some input, processes the inputs with the defined procedures, and returns one or multiple outputs. We will discuss functions soon the the 3rd week of this course. <p>
For the demo, we define a function to take the full name of a person and return the first name and last name separately.

In [ ]:
def name_split(full_name:str)->tuple:
    '''
    This function takes the full name of a person and return the first name and last name separately.
    '''
    first_name = full_name.split()[0]
    last_name = full_name.split()[-1]
    return first_name, last_name

The above function name_splite takes the full name of a person, splits the full name into first name and last name, and return the first name and the last name as a tuple. <p>
Note that the "->tumple" is just a function annotation to improve the readability of the code. You can use "name_split.__annotations__" to check the function annotations

In [ ]:
name_split.__annotations__

{'full_name': str, 'return': tuple}

In [ ]:
results = name_split("John Smith")
print(type(results)) # the type of the function returns
first_name, last_name = results # parse the tuple into first name and last name
print(first_name, last_name)

<class 'tuple'>
John Smith

A tuple can also hold values of different types.

In [ ]:
def name_merge_count(first_name:str, last_name:str)->tuple:
    '''
    This function takes the first name and last name of a person and return the full name and the number of characters in the full name.
    '''
    full_name = first_name + " " + last_name
    return full_name, len(full_name)

In [ ]:
results = name_merge_count("John", "Smith")
print(type(results))
full_name, number_of_characters = results
print(f'type: {type(full_name)}, value: {full_name}')
print(f'type: {type(number_of_characters)}, value: {number_of_characters}')

<class 'tuple'>
type: <class 'str'>, value: John Smith
type: <class 'int'>, value: 10

Since tuple is immutable, we can not add new elements to an existing tumple. This immutable property is good for tuple as the returned data structure for a function, because we don't want any accidentally changes of the results return from a function. (If we need to change them, we should change them outside the function.)


A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item.

In [ ]:
list_1 = [1,2,3]
list_2 = list_1 # just assign the memory ID of list_1 to list_2
print(list_1, list_2)
print(id(list_1), id(list_2))
print(f'Is list 1 and list 2 stay in the identical memory ID: {list_1 is list_2}')
list_1[0] = 1000
# because list_1 and list_2 use the identical memory address ID, the value change for list_1 also affects list_2
print(list_1, list_2)
print(f'Is list 1 and list 2 stay in the identical memory ID: {list_1 is list_2}')

[1, 2, 3] [1, 2, 3]
138814339100672 138814339100672
Is list 1 and list 2 stay in the identical memory ID: True
[1000, 2, 3] [1000, 2, 3]
Is list 1 and list 2 stay in the identical memory ID: True

In [ ]:
# the above example tells us if we want to copy the data from a list, don't assign it to a new name.
# you need to create a copy of the list
list_copy = list_1.copy()
print(list_copy)
print(id(list_1), id(list_copy))
print(f'Is list 1 and list 2 stay in the identical memory ID: {list_1 is list_copy}')

[1000, 2, 3]
138814339100672 138813727196800
Is list 1 and list 2 stay in the identical memory ID: False

Slice a list - the list can be sliced by indices

In [ ]:
fruit_list = ["apple", "banana", "cherry", "kiwi", "mango"]
# get the first 2 items from the fruit_list
first_two_items = fruit_list[:2] # we can skip 0 if we slice from the beginning
print(first_two_items)
# get the last 2 items from the fruit_list
last_two_items = fruit_list[-2:]
print(last_two_items)

# Note that the new slices are stored in different memory address IDs
print(id(fruit_list), id(first_two_items), id(last_two_items))
print(f'Do the fruit list and the 1st sliced list stay in the identical memory ID: {fruit_list is first_two_items}')
print(f'Do the fruit list and the 2nd sliced list stay in the identical memory ID: {first_two_items is last_two_items}')

['apple', 'banana']
['kiwi', 'mango']
138813487801728 138813487568512 138813487575872
Do the fruit list and the 1st sliced list stay in the identical memory ID: False
Do the fruit list and the 2nd sliced list stay in the identical memory ID: False

Add and remove an element from a list

In [ ]:
fruit_list = ["apple", "banana", "cherry", "kiwi", "mango"]

# to add a new element to the list, use the '+=' operator, or use the .append() method
fruit_list += ['orange']
print(fruit_list)
fruit_list.append('pear')
print(fruit_list)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange']
['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange', 'pear']

Remove an element from a list

In [ ]:
# the .pop() method will remove the last element from a list
last_element = fruit_list.pop()
print(last_element)
print(fruit_list)

pear
['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange']

In [ ]:
# the .remove() method can remove any known element from a list
# to get the index of a known element in the list, use .index() method
idx = fruit_list.index('banana')
print(f'the index of banana: {idx}')

# we can remove the element by its index
fruit_list.remove(fruit_list[idx]) # we know the index of banana is stored in idx
print(fruit_list)

# we can also remove the element by value
# we want to remove 'mango' from the list
# unlike .pop(), the .remove() method does not return the removed element
remove_element = fruit_list.remove('mango')
print(fruit_list)
print(remove_element)

the index of banana: 1
['apple', 'cherry', 'kiwi', 'mango', 'orange']
['apple', 'cherry', 'kiwi', 'orange']
None

List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  # if the word contains the character 'a'
  if "a" in x:
    newlist.append(x)

print(newlist)


# the above code can be written in the list comprehension format

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango']

In [ ]:
# we can use the list comprehension syntax to do element-wise computation
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers)
ten_times_numbers = [x*10 for x in numbers]
print(ten_times_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

**Dictionary**, or dict for short, is used to store data in the form of key:value pairs. In Python, dictionary is defined as an object with the data type 'dict'. <p>
Dictionary can be treated as a row in the excel spreadsheet with multiple properties. Given this property, dictionary can be treated as a series object with Pandas. We will further discuss Pandas later in Week 5

In [ ]:
# To initiate a dictionary, we can the { } notation or the dict() method
car_dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

student_dict = dict(name = "John",
                    age = 36,
                    country = "Norway")

print(car_dict, type(car_dict))
print(student_dict, type(student_dict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964} <class 'dict'>
{'name': 'John', 'age': 36, 'country': 'Norway'} <class 'dict'>

**Access the values in the dictionary.**
There are two methods to access the values of the dictionary:

*   use the dict['key'] notation
*   use the .get() method. In stead of return a NULL for a missing key, we can set a default value for the a missing key

In [ ]:
print(car_dict['brand'])
print(car_dict.get('color','Missing'))

print(student_dict.get('name', 'Missing'))
print(student_dict.get('address', 'Missing'))

Ford
Missing
John
Missing

For dictionary, duplicates are not allowed.

In [ ]:
# Duplicate values will overwrite existing values
car_dict = {
  "brand": "Toyota",
  "model": "Corolla",
  "year": 1966,
}

print(car_dict)

{'brand': 'Toyota', 'model': 'Corolla', 'year': 1966}

The length of a dictionary can be output by the len() function like the list. However, the length of a dictionary can be interpretted as how many columns a speadsheet has.

In [ ]:
print(len(car_dict))
print(len(student_dict))

3
3



*   To get all the keys of a dictionary, use the .keys() method
*   To get all values of a dictionary, use the .values() method

In [ ]:
print(car_dict.keys())
print(car_dict.values())

dict_keys(['brand', 'model', 'year'])
dict_values(['Toyota', 'Corolla', 1966])

The values of a dictionary can hold more than one value, you can consider this as multiple rows in a spreadsheet.

In [ ]:
car_dict = {
  "brand": ["Ford", "Toyota"],
  "model": ["Mustang", "Corolla"],
  "year": [1964, 1966],
}

The .setdefault() method ensure the set a default value for the return of a missing key-value. <P>
For example, if we want to get the 'MPG' value from the car_dict, but it does not exist, we want the return value is 'Missing'

In [ ]:
car_dict.setdefault('MPG', "Missing")

# we know that the car_dict has a key 'brand', the .setdefault() method will NOT change the values of the key
car_dict.setdefault('brand', "Missing")

print(car_dict)

{'brand': ['Ford', 'Toyota'], 'model': ['Mustang', 'Corolla'], 'year': [1964, 1966], 'MPG': 'Missing'}

Remove items in dictionary


*   pop()
*   popitem()

In [ ]:
# remove a key-value paire from the dictionary
mpg = car_dict.pop('MPG')
print(car_dict)
print(mpg)

# popitem can only remove the last item from the dictionary
item = car_dict.popitem() # return as a tuple of key and value
print(car_dict)
print(item)

{'brand': ['Ford', 'Toyota'], 'model': ['Mustang', 'Corolla'], 'year': [1964, 1966]}
Missing
{'brand': ['Ford', 'Toyota'], 'model': ['Mustang', 'Corolla']}
('year', [1964, 1966])

Dictionary is also a mutable type. To prevent accidental value change, dictionary has the copy() method to make a copy of the data to another memory ID.

In [ ]:
car_dict = {
  "brand": ["Ford", "Toyota"],
  "model": ["Mustang", "Corolla"],
  "year": [1964, 1966],
}

car_copy = car_dict.copy()
car_dict2 = car_dict
car_dict['brand'] = 'Honda'

print(f'if car_copy and car_dict share identical memory ID: {car_dict is car_copy}')
print(f'if car_dict and car_dict2 share identical memory ID: {car_dict is car_dict2}')
print(id(car_dict), id(car_copy), id(car_dict2))
print(car_dict)

# because the copy dict is stored in a different memory ID, the accidental value change does not affect the copy
# this method is effective the provide the raw data. It is a good habit to make a copy of the raw data, then only use the copy data for transformation and further processing
print(car_copy)
print(car_dict2)

if car_copy and car_dict share identical memory ID: False
if car_dict and car_dict2 share identical memory ID: True
138813487632000 138813487632640 138813487632000
{'brand': 'Honda', 'model': ['Mustang', 'Corolla'], 'year': [1964, 1966]}
{'brand': ['Ford', 'Toyota'], 'model': ['Mustang', 'Corolla'], 'year': [1964, 1966]}
{'brand': 'Honda', 'model': ['Mustang', 'Corolla'], 'year': [1964, 1966]}

You can initiate a dictionary with keys only. This is good for setting up a spreadsheet and fill the data later.

In [ ]:
keys = ['brand', 'model', 'year']
brands = ['Ford', 'Toyota', 'Chevrolet']
models = ['Mustang', 'Corolla', 'Camaro']
years = [1964, 1966, 1966]

car_dict = dict.fromkeys(keys)
print(car_dict)

# fill the data
car_dict['brand'] = brands
car_dict['model'] = models
car_dict['year'] = years
print(car_dict)

{'brand': None, 'model': None, 'year': None}
{'brand': ['Ford', 'Toyota', 'Chevrolet'], 'model': ['Mustang', 'Corolla', 'Camaro'], 'year': [1964, 1966, 1966]}

To extend an existing dictionary, use the .update() method. An alternative way is to use the union operator '|' which can combined with the assignment operator '=' as '|=' <p>
The list method is to directly assign the value to a new key using the dict['new_key'] = value syntax

In [ ]:
car_dict.update({'MPG': [18, 30, 20]}) # the input must be a dict
print(car_dict)

# if the new key-value is a dupliate, the .update() method will replace the old value with the new value
car_dict.update({'brand': ['Honda', 'Nissan', 'Tesla']})
print(car_dict)

car_dict |= {'color': ['Blue', 'Silver', 'Yellow']}
print(car_dict)

# directly assign the value to a new key, note that if the key already exits, it will only update the value pointing to the key

{'brand': ['Ford', 'Toyota', 'Chevrolet'], 'model': ['Mustang', 'Corolla', 'Camaro'], 'year': [1964, 1966, 1966], 'MPG': [18, 30, 20]}
{'brand': ['Honda', 'Nissan', 'Tesla'], 'model': ['Mustang', 'Corolla', 'Camaro'], 'year': [1964, 1966, 1966], 'MPG': [18, 30, 20]}
{'brand': ['Honda', 'Nissan', 'Tesla'], 'model': ['Mustang', 'Corolla', 'Camaro'], 'year': [1964, 1966, 1966], 'MPG': [18, 30, 20], 'color': ['Blue', 'Silver', 'Yellow']}

In [ ]:
import json
json_object = json.dumps(car_dict)

# write the data into a file - we will discuss file handling in Week 3
with open('car_dict.json', 'w') as f:
  f.write(json_object)

The last thing is to use .items() iterate through all the key-value pairs in the dictionary.

In [ ]:
for key, value in car_dict.items():
  print(f'key: {key}, value: {value}')

key: brand, value: ['Honda', 'Nissan', 'Tesla']
key: model, value: ['Mustang', 'Corolla', 'Camaro']
key: year, value: [1964, 1966, 1966]
key: MPG, value: [18, 30, 20]
key: color, value: ['Blue', 'Silver', 'Yellow']

If we want a row-based output like rows in a spreadsheet, we need to add more iterations syntax, which will be discussed in Week 2

In [ ]:
keys = list(car_dict.keys()) # convert the dict key type to list in order to get the # of rows
# assume no missing values

rows = len(car_dict[keys[0]])


for i in range(rows):
  message = ''
  for key in keys:
    message += f'{key}: {car_dict[key][i]} - '
  message = message[:-2]
  print(message)

brand: Honda - model: Mustang - year: 1964 - MPG: 18 - color: Blue
brand: Nissan - model: Corolla - year: 1966 - MPG: 30 - color: Silver
brand: Tesla - model: Camaro - year: 1966 - MPG: 20 - color: Yellow

**Set** is a the last Python built-in data types we introduce here to store collections of data. A set is a collection which is unordered, unchangable, and unindexed. <p>
So set is simlar to tuple but it cannot has duplicate element, and it cannot be indexed either.

In [ ]:
# the notation of a set is identical to a dictionary, i.e. using the curly brackets: { }.
fruits = {"apple", "banana", "cherry", "kiwi", "mango"}
print(f'type: {type(fruits)}')
print(f'fruits: {fruits}') # the elements cannot be indexed

type: <class 'set'>
fruits: {'mango', 'apple', 'kiwi', 'cherry', 'banana'}

We can add or remove elements to a set, but we cannot define the order / index of the set

In [ ]:
removed_item = fruits.pop() # remove one element, we cannot say it is the first element, because set is unordered.
print(f'after pop: {fruits}')
print(f'the removed item: {removed_item}')

fruits.remove("banana") # remove a known element, no return the removed item
print(f'after remove: {fruits}')

fruits.add("orange")
print(fruits)

# duplicate is NOT allowed, thus the set is unchangabled (no error)
fruits.add("orange")
print(fruits)

after pop: {'apple', 'kiwi', 'cherry', 'banana'}
the removed item: mango
after remove: {'apple', 'kiwi', 'cherry'}
{'orange', 'apple', 'kiwi', 'cherry'}
{'orange', 'apple', 'kiwi', 'cherry'}

A set is good for NLP to extract words to build a vocabulary. A vocabulary is a table of uniques words from the given text material. In NLP, we use a vocabulary to count the frequency of words (or tokens) of the text we are to process. The set data structure is handy because we can only break the texts into words / tokens by the .split() method of string, then convert a list to set to remove the duplicates

In [ ]:
# We try to tokenize the famous speech of Hamlet by WILLIAM SHAKESPEARE
# for long text, it is a good idea to use the triple quotation marks to quote several paragraphs
# this is the comment style for prompt engineering for large language model (LLM) like ChatGPT
text = '''
To be, or not to be, that is the question:
Whether 'tis nobler in the mind to suffer
The slings and arrows of outrageous fortune,
Or to take arms against a sea of troubles
And by opposing end them. To die—to sleep,
No more; and by a sleep to say we end
The heart-ache and the thousand natural shocks
That flesh is heir to: 'tis a consummation
Devoutly to be wish'd. To die, to sleep;
To sleep, perchance to dream—ay, there's the rub:
For in that sleep of death what dreams may come,
When we have shuffled off this mortal coil,
Must give us pause—there's the respect
That makes calamity of so long life.
For who would bear the whips and scorns of time,
Th'oppressor's wrong, the proud man's contumely,
The pangs of dispriz'd love, the law's delay,
The insolence of office, and the spurns
That patient merit of th'unworthy takes,
When he himself might his quietus make
With a bare bodkin? Who would fardels bear,
To grunt and sweat under a weary life,
But that the dread of something after death,
The undiscovere'd country, from whose bourn
No traveller returns, puzzles the will,
And makes us rather bear those ills we have
Than fly to others that we know not of?
Thus conscience doth make cowards of us all,
And thus the native hue of resolution
Is sicklied o'er with the pale cast of thought,
And enterprises of great pith and moment
With this regard their currents turn awry
And lose the name of action.
'''

In [ ]:
# remove the non-alphabet characters from the text
# Here we use a lambda function, we will dicuss it in Week 3
import re
plain_text = lambda text: re.sub(r'[^a-zA-Z\s\n\.]', ' ', text)

In [ ]:
text = plain_text(text)

In [ ]:
# convert all to lower case to prevent duplicates
text = text.lower()

In [ ]:
# we use the build-in .split() method of the string, to break the text into words by white space, the splitted words are also called tokens
tokens = text.split()

# use the set structure to remove duplicates in the list
vocabulary = set(tokens)
print(f'tokens size: {len(tokens)}')
print(f'vocabulary size: {len(vocabulary)}')

tokens size: 271
vocabulary size: 162

In [ ]:
vocabulary

{'a',
 'ache',
 'action.',
 'after',
 'against',
 'all',
 'and',
 'arms',
 'arrows',
 'awry',
 'ay',
 'bare',
 'be',
 'bear',
 'bodkin',
 'bourn',
 'but',
 'by',
 'calamity',
 'cast',
 'coil',
 'come',
 'conscience',
 'consummation',
 'contumely',
 'country',
 'cowards',
 'currents',
 'd',
 'd.',
 'death',
 'delay',
 'devoutly',
 'die',
 'dispriz',
 'doth',
 'dread',
 'dream',
 'dreams',
 'end',
 'enterprises',
 'er',
 'fardels',
 'flesh',
 'fly',
 'for',
 'fortune',
 'from',
 'give',
 'great',
 'grunt',
 'have',
 'he',
 'heart',
 'heir',
 'himself',
 'his',
 'hue',
 'ills',
 'in',
 'insolence',
 'is',
 'know',
 'law',
 'life',
 'life.',
 'long',
 'lose',
 'love',
 'make',
 'makes',
 'man',
 'may',
 'merit',
 'might',
 'mind',
 'moment',
 'more',
 'mortal',
 'must',
 'name',
 'native',
 'natural',
 'no',
 'nobler',
 'not',
 'o',
 'of',
 'off',
 'office',
 'opposing',
 'oppressor',
 'or',
 'others',
 'outrageous',
 'pale',
 'pangs',
 'patient',
 'pause',
 'perchance',
 'pith',
 'proud',
 'puzzles',
 'question',
 'quietus',
 'rather',
 'regard',
 'resolution',
 'respect',
 'returns',
 'rub',
 's',
 'say',
 'scorns',
 'sea',
 'shocks',
 'shuffled',
 'sicklied',
 'sleep',
 'slings',
 'so',
 'something',
 'spurns',
 'suffer',
 'sweat',
 'take',
 'takes',
 'th',
 'than',
 'that',
 'the',
 'their',
 'them.',
 'there',
 'this',
 'those',
 'thought',
 'thousand',
 'thus',
 'time',
 'tis',
 'to',
 'traveller',
 'troubles',
 'turn',
 'under',
 'undiscovere',
 'unworthy',
 'us',
 'we',
 'weary',
 'what',
 'when',
 'whether',
 'whips',
 'who',
 'whose',
 'will',
 'wish',
 'with',
 'would',
 'wrong'}