<a href="https://colab.research.google.com/github/sheffieldcl/NIHL-Training/blob/Python-Training/Week2a_sz_condition_iteration_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Python, NIH Library - Week 2
## Conditionals / Data Structures (Stanley)

By the end of this training attendees will be able to:

*  Use dictionaries to define data elements

*  Control data flow using conditionals such as loops and if statements

*  Minimize memory usage and runtime for code

*  Manage exceptions using ‘**try-except-finally**’ and other methods

In Week 2 tutorial, we will introduce the condition and iteration of Python

# The logical operators in Python

The logical operators in Python are very straight forward


*   and: If both of the operands are true then the condition becomes true
*   or: If any of the two operands is non-zero then the condition becomes true
*   not: Used to reverse the logical state of its operand <p>

The logical operators must be all in lower-case letters. AND, OR, NOT are words, they are not logical operators.

The boolean values are "True" and "False", case-sensitive.

In [ ]:
0 or 0

0

In [ ]:
a = 1
b = 0
print(a and b)
print(1 and 0)
print(a or b)
print(1 or 0)

# not will only return boolean values: True / False
print(not a)
print(not 10)

print(True and True)
print(True or False)
print(True and 1)
print(False or 1)
print(not True)
print(not False)

0
0
1
1
False
False
True
True
1
1
False
True

# Comparison Operators
Logical operations are often combined with comparison operations


*   ==  Equal
*   !=  Not Equal
*   \> Greater Than
*   \< Less Than
*   \>= Greater than or Equal to
*   \<= Less than or Equal to
<p>
The comparison operation will return a Boolean value.

In [ ]:
print(10 == 10)
print(10 != 10)
print(10 > 10)
print(10 < 10)
print(10 >= 10)
print(10 <= 10)

True
False
False
False
True
True

In [ ]:
# for the comparison of >, >=, <, <=,
# The boolean value True is treated as 1, and False is treated as 0
# However, this rule does not apply to equal / unequal comparison,

# These results are all True
print(True == 1)
print(True < 20)
print(True > 0)
print(False > -1)
print(False >= 0)
print(True >= False)

# These results are all False
print(True == 10)
print(False != 0)
print(False == 1)

True
True
True
True
True
True
False
False
False

# Condition syntax

In Python, the condition syntax has three basic if statements


*   if
*   if...else
*   if...elif...else

Note that Python doese not support the "switch...case...default" used in other programming languages like C++, Java, etc.

Note that from Python 3.10, it proivdes the "match...case..." statement, which is similar to the "switch...case...default". We will give an example later in this section.

# if statement
The if statement evaluate the boolean operation in the if code block, then it determines whether the code section under the if statement should be executed or not. Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. The convention is to use four indents, but colab like using two indents. For convenience, you can keep the 2-indent convention with colab, but we highly recommend using the 4-indent convention with other IDEs other than Colab

In [ ]:
a = 10

# the if statement is indicated by the colon (:)
if a == 10:
  print("a is 10")

a is 10

# if...else statement
When we have two conditions, we put one of them in the if statement, can the alternative operation in the else statement

In [ ]:
# change the value for a to see different results
a = 9.9

if a == 10:
  print("a is 10")
else:
  print("a is not 10")

a is not 10

# if...elif...else statement
When our condition has three branches, we put the first one in the if statement, the second one in the elif statement, the the last one in the else statement

In [ ]:
a = 10

if a > 0:
  print("a is positive")
elif a == 0:
  print("a is zero")
else:
  print("a is negative")

a is positive

However, this three-branch syntax is not safe. It is likely to end up with a wrong conclusion because if the first two statements are not satisfied, the else statement will be the default option. In addition, if you have more than three branches, like "if...elif...elif......else", the code will look confused and the logic is hard to read.

There are multiple ways to replace the "if...elif...else" statement.

# match...case statement
the "match...case" statement was introduced to Python in version 3.10 and afterwards

We know that each gene's code uses the four nucleotide bases of DNA: adenine --A, cytosine--C, guanine--G and thymine--T.
The Python code below uses the match...case statement to input the letter and return the full name of the nucleotide base

In [ ]:
# chage the letter for different results

nuclear_code = 'G'

match nuclear_code:
    case "A":
        print(f"{nuclear_code} is the acronum for adenine")
    case "C":
        print(f"{nuclear_code} is the acronum for cytosine")
    case "G":
        print(f"{nuclear_code} is the acronum for guanine")
    case "T":
        print(f"{nuclear_code} is the acronum for thymine")
    case _:
        print(f"The letter {nuclear_code} is out of scopoe")

G is the acronum for guanine

The second method is use the dictionary structure we learn in Week 1

In [ ]:
nucleotide_dict ={
    "A": "adenine",
    "C": "cytosine",
    "G": "guanine",
    "T": "thymine"
}

nuclear_code = 'A'

if nuclear_code in nucleotide_dict:
    print(f"{nuclear_code} is the acronum for {nucleotide_dict[nuclear_code]}")

A is the acronum for adenine

The third method is to use function with multiple return. We will discuss the Python functions in detail in Week 3

In [ ]:
def get_nucleotide_name(nuclear_code):
    if nuclear_code in nucleotide_dict:
        return f"{nuclear_code} is the acronum for {nucleotide_dict[nuclear_code]}"

    if nuclear_code not in nucleotide_dict:
        return f"The letter {nuclear_code} is out of scopoe"

In [ ]:
nuclear_code = 'A'

print(get_nucleotide_name(nuclear_code))

A is the acronum for adenine

The if...else statement can be written in a single line to assign value / values to variable

Assume the grade of the exam ranges from 0 to 100, and 60/100 or above is a passing grade, and below 60/100 is failure.

We assign the mark "PASS" or "FAIL" given the numeric score.

In [ ]:
score = 59

# with the regular if...else statement, we use the syntax:

if score >= 60:
    grade = "PASS"
else:
    grade = "FAIL"

print(grade)

FAIL

In [ ]:
# we can assign the grade with the one-line syntax:

score = 60

grade = "PASS" if score >= 60 else "FAIL"

print(grade)

PASS

In [ ]:
# if the scores of 10 students are in a list, we can use the list comprehension syntax to convert it to a grade list

scores = [55, 70, 80, 90, 40, 70, 80, 90, 45, 70]

# we will discuss the iteration syntax later
grade = ["PASS" if score >= 60 else "FAIL" for score in scores]

print(grade)

['FAIL', 'PASS', 'PASS', 'PASS', 'FAIL', 'PASS', 'PASS', 'PASS', 'FAIL', 'PASS']

# Iteration syntax

Like other programming languages such as C, C#, Java, etc. Python has the "for loop" and "while loop" syntax for iteration. It also offers additional methods to iterate its generic data structures such as list and dictionary as iterators. In addition,  a Python generator function allows you to declare a function that behaves like an iterator, providing a faster and easier way to create iterators.

# The for loop
The for loop syntax in Python is simple.
The common syntax of "for loop" in Python are:

*   for i in range(start, end, skip)
*   for item in data

Note the the key word "break" can end the loop.

In [ ]:
# the "for i in range()" syntax

# if we want the start from 0 and end with a number, use the following syntax
# Note that Python is endpoint exclusive, if the endpoint is 10, it will print out 0 to 9, then exclude 10
for i in range(10):
    print(i, end=",") # we add end="," to prevent from printing out new line for each iteration

0,1,2,3,4,5,6,7,8,9,

In [ ]:
# if we want the start and stop at specific point, remember python is startpoint inclusive and endpoint exclusive
for i in range(5, 10):
    print(i, end=",")

5,6,7,8,9,

In [ ]:
# we can use the third parameter to define the skip interval
for i in range(0, 10, 2):
    print(i, end=",")

print()

for j in range(0, 10, 3):
    print(j, end=",")

0,2,4,6,8,
0,3,6,9,

In [ ]:
for i in range(0,10):
  if i%2 == 0:
    continue
  print(i, end=",")

1,3,5,7,9,

In [ ]:
for i in range(0,10):
  if i > 5:
    break
  print(i, end=",")

0,1,2,3,4,5,

# Use "for loop" with iterators

We usually use the for loop to loop through some data structures, like the list. And we can do it in many ways.

In [ ]:
fruits = ["apple", "banana", "cherry", "mango", "pineapple", "orange"]

# the conventional way (not recommended)
for i in range(len(fruits)):
    print(fruits[i], end=",")

print()

# the recommended way -- the key word "in" will invoke the list as an iterator and fetch the elements one by one
for fruit in fruits:
    print(fruit, end=",")

apple,banana,cherry,mango,pineapple,orange,
apple,banana,cherry,mango,pineapple,orange,

In [ ]:
# use the iter() method to convert the list into an iterator object
fruits = iter(fruits)

# we can use the next() method to fetch one item from the iterator once a time
# the "while True" syntax is a common way to maintain the loop infinitely, which is used for for many Graphical User Interface (GUI) Apps
# Infinite loop is harmful to many programs, usually leading to an error, so use it carefully.

# we use a "while True" loop to go through all elements in the iterator, and use the try...except syntax to break the loop in the end
while True:
    try:
        print(next(fruits))
    except StopIteration:
        break

apple
banana
cherry
mango
pineapple
orange

# The "while" loop

With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
# print out all integers which is least than the given number
max = 10
i = 0
while i <= max:
  print(i, end=',')
  i = i + 1

0,1,2,3,4,5,6,7,8,9,10,

The "while loop" is very dangerous because it is easy to become an infinite loop, which will cause a system crash. One effective safeguard for the while loop is to use the conditional + break syntax inside the while loop

In [ ]:
max = 10
i = 0
while True:
  print(i, end=',')
  i = i + 1
  if i > max:
    break

0,1,2,3,4,5,6,7,8,9,10,

# Generator
A generator is a function or expression that will process a given iterable one object at a time, on demand. A generator will return a generator object, which can be cast as a list or some other data structure as appropriate. <p>
Using the generator can prevent the whole dataset from loading into memory, which can significantly optimize the system workload. <p>
Inside the generator function, we use the keyword "yield" to return the value

Example 1: Generate Fibonacci Numbers <P>

The Fibonacci Numbers is a series that from the third term, each term is the sum of the precedingly two terms. For example, at the number series: <p>
0,1,1,2,3,5,... <p>
From the third term 1, each term is the sum of its preceedingly two terms.

In [ ]:
def fibonacci_generator(limit:int)->int:
    # the argument limit is to define the maximum value of the Fibonacci series
    # Initialize first two Fibonacci Numbers
    a, b = 0, 1
    # One by one yield next Fibonacci Number
    while a < limit:
        yield a
        # reassign values to corresponding current item and its preceding item at the series
        a, b = b, a + b

In [ ]:
# Create a generator object
# Note that the generator will only iterate once
x = fibonacci_generator(5)
x # x is NOT generator object, not a number

In [ ]:
for item in x:
    print(item, end=",")

0,1,1,2,3,

In [ ]:
# reinitiate the generator, for we already go through it on the upper cell
x = fibonacci_generator(10)

while True:
    try:
        print(next(x), end=',')
    except StopIteration:
        break

0,1,1,2,3,5,8,

The generator is very useful for the training of the machine learning models. We need the models to go through the whole dataset but we don't want the whole dataset sitting in the memory (think out the dataset has 1 million high-resolution images). The generator provides a way to iterate the dataset item by item, so each time we only need to send a small amount of data into the memory

In [ ]:
fruits = ["apple", "banana", "cherry", "mango", "pineapple", "orange"]

# we define a fruit generator, each time it will return two fruits from the fruit list
def get_fruit_generator(batch_size=2):
    for i in range(0, len(fruits), batch_size):
        yield fruits[i:i+batch_size]

In [ ]:
total_epoch = 10
for epoch in range(total_epoch):
    print("epoch: ", epoch+1)
    fruit_generator = get_fruit_generator(2)
    while True:
        try:
            print(next(fruit_generator))
        except StopIteration:
            break

epoch:  1
['apple', 'banana']
['cherry', 'mango']
['pineapple', 'orange']
epoch:  2
['apple', 'banana']
['cherry', 'mango']
['pineapple', 'orange']
epoch:  3
['apple', 'banana']
['cherry', 'mango']
['pineapple', 'orange']
epoch:  4
['apple', 'banana']
['cherry', 'mango']
['pineapple', 'orange']
epoch:  5
['apple', 'banana']
['cherry', 'mango']
['pineapple', 'orange']
epoch:  6
['apple', 'banana']
['cherry', 'mango']
['pineapple', 'orange']
epoch:  7
['apple', 'banana']
['cherry', 'mango']
['pineapple', 'orange']
epoch:  8
['apple', 'banana']
['cherry', 'mango']
['pineapple', 'orange']
epoch:  9
['apple', 'banana']
['cherry', 'mango']
['pineapple', 'orange']
epoch:  10
['apple', 'banana']
['cherry', 'mango']
['pineapple', 'orange']